// Tipografias
$global-font: "Roboto", Tahoma, Geneva, sans-serif;
$global-font-size: 14px;

// Colores Tipografias
$body-font-color: #000;
$header-font-color:#6D6D6D;

//Sections
$sectiontitle-Color: #000;
$sectionbreadcum-Color: #717171;
$sectiontitle-Size: 36px;
$sectionbreadcum-Size: 14px;

//Colores Interfaz
$primary-color: #0066DD;
$separador-Secciones: #DFE1E5;
$cardborder-Color: #EAECF0;

//Inputs
$inputborder-Color: #949494;
$label-color: #717171;
$inputtext-color: #717171;

//Table
$table-thead-font-color: #656565;
$table-odd-bg-color: #FBFBFB;
$table-td-font-color: #545454;