.filtros-tabla {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0;
}

.button-filtro {
    padding: 10px 16px;
    background-color: #F3F3F3;
    border: 1px solid #FBFBFB;
    border-radius: 8px;
    color: #656565;
}